{% extends 'website/base.html' %}
{% load staticfiles utils_tags %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'website/css/prettify.css' %}" type="text/css" rel="stylesheet" />
  <link href="{% static 'website/css/trip.min.css' %}" type="text/css" rel="stylesheet" />
  <link href="{% static 'website/css/base.css' %}" type="text/css" rel="stylesheet" />
{% endblock css %}

{% block body %}

{% if code %}
  <div class="row">
    <pre class="col-xs-12 col-sm-9 prettyprint linenums language-python skin-desert">{{ code }}</pre>
    <div class="col-xs-12 col-sm-3" id="analyzer">
      <h4>Análise do código</h4>
      <dl>
        <dt>Palavras no código</dt>
        <dd id="words-count">0</dd>
        <dt title="Quanto do seu código foi reconhecido">Palavras mapeadas</dt>
        <dd id="mapped-words">
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </dd>
        {% for category in categorys %}
          <dt title="{{ category.description }}">{{ category.name }}</dt>
          <dd data-id="{{ category.id }}">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </dd>
        {% endfor %}
      </dl>

      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
             Não entendeu? <a href="#" class="alert-link show_tour">explique-me</a>.
          </div>
        </div>
      </div>

    </div>
  </div>

{% endif %}

{% endblock body %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'website/js/prettify.js' %}"></script>
{% endblock javascript %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  keywords = JSON.parse("{{ keywords|escapejs }}");
  categorys = JSON.parse("{{ categorys_json|escapejs }}");
</script>
<script type="text/javascript" src="{% static 'website/js/explain.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/trip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/tour_site.js' %}"></script>
{% endblock scripts %}