{% extends 'website/base.html' %}
{% load staticfiles utils_tags %}

{% block head %}
<link href="{% static 'website/css/prettify.css' %}" type="text/css" rel="stylesheet" />
<link href="{% static 'website/css/base.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'website/js/prettify.js' %}"></script>

{% endblock head %}

{% block body %}
  {% if code %}
    <pre class="col-xs-12 col-sm-9 prettyprint linenums language-python skin-desert">{{ code }}</pre>
    <div class="col-xs-12 col-sm-3" id="analyzer">
      <h4>Análise do código</h4>
      <dl>
        <dt>Palavras no código</dt>
        <dd id="words-count">0</dd>
        <dt title="Quanto do seu código foi reconhecido">Palavras mapeadas</dt>
        <dd id="mapped-words">
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </dd>
        {% for category in categorys %}
          <dt>{{ category.get_typo_display }}</dt>
          <dd data-id="{{ category.id }}">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </dd>
        {% endfor %}
      </dl>
    </div>
  {% endif %}
{% endblock body %}

{% block scripts %}
<script type="text/javascript">
  keywords = JSON.parse("{{ keywords|escapejs }}");
  categorys = JSON.parse("{{ categorys_json|escapejs }}");
</script>
<script type="text/javascript" src="{% static 'website/js/explain.js' %}"></script>
{% endblock scripts %}