{% extends 'website/base.html' %}

{% block body %}
  <form class="form form-horizontal form-group" method="POST" action="{% url 'website:explain' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary pull-right col-xs-12 col-sm-1" href="#">
      <i class="icon-play"></i>
    </button>
    <textarea class="col-md-12 col-xs-12 input-required form-control" rows="15" name="code" placeholder="Cole seu código aqui"></textarea>
    <button type="submit" class="btn btn-primary pull-right col-xs-12 col-sm-1" href="#">
      <i class="icon-play"></i>
    </button>
  </form>
{% endblock %}