{% extends 'website/base.html' %}

{% block body %}
<div class="row">
  
  <h1>PyExplain</h1>
  <p>Nosso objetivo é tentar facilitar a leitura de um código Python.</p>
  <p>Cole seu código Python abaixo e aperte play!</p>

  <form class="form form-horizontal form-group" method="POST" action="{% url 'website:explain' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary pull-right col-xs-12 col-sm-1" href="#">
      <i class="icon-play"></i>
    </button>
    <textarea class="col-md-12 col-xs-12 input-required form-control" rows="15" name="code"></textarea>
    <button type="submit" class="btn btn-primary pull-right col-xs-12 col-sm-1" href="#">
      <i class="icon-play"></i>
    </button>
  </form>

</div>
{% endblock %}