{% extends 'website/base.html' %}
{% load utils_tags staticfiles %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'website/css/prettify.css' %}" type="text/css" rel="stylesheet" />
{% endblock css %}


{% block body %}

<div class="row">

  <div class="col-xs-12 col-sm-9">
    <h1>{{ keyword.codname }}
      <small class="text-muted">
        <a href="{% url 'website:category_detail' keyword.category.slug %}">{{ keyword.category.name }}</a>
      </small>
    </h1>
    <p>{{ keyword.description|to_html }}</p>
  </div>

  {% if not user.is_authenticated %}
    <div class="col-xs-12 col-sm-3 alert alert-success">
      <p align="center">Você pode colaborar!<br>
        Envie links e exemplos. <br>
        <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="btn btn-default btn-sm">
          <i class="icon-github"></i> Logar com Github
        </a>
      </p>
    </div>
  {% else %}
    <div class="col-xs-12 col-sm-3 well">
      <p class="text-muted">
        Logado como <strong>{{ user.first_name }}</strong>.
      </p>
    </div>
  {% endif %}

</div>

<div class="row">

  <div class="col-xs-12 col-sm-8">
    <h3> Exemplos
      {% if user.is_authenticated and keyword.can_add_examples %}
      <small>
        <a href="{% url 'examples:create' keyword|meta:'app_label' keyword|meta:'module_name' keyword.id %}" class="btn btn-default btn-xs open-modal">
          <i class="icon-code"></i> Enviar exemplo
        </a>
      </small>
      {% endif %}
    </h3>

    <div id="examples-list">
      {% if keyword.examples.all %}
        {% for example in keyword.examples.all %}
          <div class="panel panel-default">
            {% if example.name %}
            <div class="panel-heading">
              <i class="icon-code"></i> {{ example.name }}
            </div>
            {% endif %}

            <div class="panel-body">
              <pre class="prettyprint linenums language-python skin-desert">{{ example.code }}</pre>
            </div>

            <div class="panel-footer">
              <small class="text-muted">
                {{ example.added|date:"d/m/Y"}} - {{ example.added_by.first_name }}
                {% if example.added_by == user %}
                  <a href="{% url 'examples:update' example.id %}" class="open-modal">
                    Editar
                  </a>
                {% endif %}
              </small>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="text-primary">Nenhum exemplo cadastrado.</div>
      {% endif %}
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <h3> Links
      {% if user.is_authenticated and keyword.can_add_links %}
      <small class="pull-right">
        <a href="{% url 'links:create' keyword|meta:'app_label' keyword|meta:'module_name' keyword.id %}" class="btn btn-default btn-xs open-modal">
          <i class="icon-external-link"></i> Enviar link
        </a>
      </small>
      {% endif %}
    </h3>

    <div id="links-list">
      {% if keyword.links.all %}
        {% for link in keyword.links.all %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <a target="_blank" title="{{ link.description }}" href="{{ link.url }}">
                <i class="icon-link"></i> {{ link.name }}
              </a>
            </div>
            {% if link.description %}
            <div class="panel-body">
              <i class="text-muted">{{ link.description|truncatechars:"100" }}</i>
            </div>
            {% endif %}
            <div class="panel-footer">
              <small class="text-muted">
                {{ link.added|date:"d/m/Y"}} - {{ link.added_by.first_name }}
              </small> <br>

              {% if link.added_by == user %}
                <small class="text-muted">
                  <a href="{% url 'links:update' link.id %}" class="open-modal">
                    <i class="icon-pencil"></i> Editar
                  </a>
                </small>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="text-primary">Nenhum link cadastrado.</div>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'website/js/prettify.js' %}"></script>
{% endblock javascript %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  $(function(){
    prettyPrint();
  });
</script>
<script type="text/javascript" src="{% static 'attach/js/modal_form.js' %}"></script>
{% endblock scripts %}