{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyExplain é um site com o objetivo de ajudar iniciantes, entender códigos escritos em Python.">
    <meta name="author" content="Lucas Magnum">
    <title>{% block title %}PyExplain{% endblock title %}</title>

    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}{% endblock css %}
    <style type="text/css">
      body {padding-top: 70px;}
    </style>
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'website:index' %}">PyExplain</a>
        </div>
          <div class="navbar-collapse collapse">
            {% block navbar %}{% endblock navbar %}
          </div>
      </div>
    </div>

    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock javascript %}
    {% block scripts %}{% endblock %}
  </body>
</html>